<!DOCTYPE html>
<html>
<head>
  <title>Ike's Blog</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults%>
  <%= yield(:head) %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="message">     
    <p class="notice" id="notice"><%= flash[:notice] %></p>
    <p class="error" id="error"><%= flash[:error] %></p>
    <%=auto_discovery_link_tag :atom,posts_path<<'.atom'%>
  </div> 
      <div id="container">
        <div id="side_bar">
          <a href="/">
            <img src="/images/ike_blog_logo.png" border="0">
            </img>
          </a> <br/> 
          <a href="/posts.atom">
            <img src="/images/rss.jpg" width="20" height="20" border="0">
            </img>
          </a> <br/>
          <%=render 'search/search'%> <br/>
          <%if @all_tags %>
            <div>
              <b>Tags:</b> <br/>
              <% @all_tags.each do |tag| %>
                <%=link_to tag.keyword + "(#{tag.post.length})", :controller =>'tags', :action => 'show_posts', :keyword => tag.keyword %>
              <%end%> 
            </div>
          <%end%>
          <br/>
          <div id="recommend">
            <b>Recommend: </b> <br/>
            <a href="/resources">学佛资料</a>
          </div> <br/>
          <div id="ikeinfo">
            <b>About me: </b> <br/>
            <a href="mailto:iike22@gmail.com">
              <img src="/images/mail.jpg" width="20" height="20" border="0">
              </img>
            </a>
            <a href="https://github.com/ikej/"><img src="/images/github.png" ></img></a><br/>
            <a href="http://www.facebook.com/people/Ike-Ji/739292432" target="_TOP" title="Ike Ji"><img src="/images/facebook_badge.png" width="120" height="219" style="border: 0px;" /></a><br/>
           <a href="http://ikej.info/resources/其它资源/Resume_Ike.doc">Resume_Ike.doc</a> 
    <a href="http://docs.google.com/viewer?embedded=true&amp;url=http://ikej.info/resources/其它资源/Resume_Ike.doc">Preview</a> 
          </div>

        </div>
        <div id="main_content">
          <%= yield %>
        </div>
      </div> 
</body>
</html>
